/* //reset rules// */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul,
menu{
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

/* //general rules// */

img{
    height: 100%;
}

:root {
    --black: rgba(0,0,0,255);
    --lightblack: rgba(40,40,40,255);
    --intermediateblack: rgba(20,25,34,255);
    --shadedblack: rgba(8,11,18,255);
}

body{
    max-height: 100vh;
}

/* //utility rules// */

.debug{
    border: 3px dotted orange;
   }
   
.debug2{
       border: 3px dotted purple;
   }
   
.debug3{
       border: 3px dotted green;
   }

/* //player rules// */

.player{
    flex-basis: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lightblack);
    color: white;
    font-family: sans-serif;
    padding: 15px;
}

.player-interaction{
    height: 60px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.player-interaction > i {
    width: 15px;
}

.progresbar{
    flex-direction: column;
}

.player-button ul{
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.player-timebar{
    display: flex;
    align-items: center;
    gap: 25px;
}

.player-timebar p{
    font-weight: bold;
    font-size: small;
}

.timebar{
    background-color: grey;
    border-radius: 5px;
    height: 6px;
    width: 500px;
}

.volumebar{
    background-color: grey;
    border-radius: 5px;
    height: 6px;
    width: 100px;
}


.player-interaction-details{
    height: 100%; 
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.player-interaction-details p{
    text-align: left;
}

.player-interaction-details p:first-child{
    font-weight: bolder;
}

.player-interaction-details p:last-child{
    font-weight: lighter;
    font-size: smaller;
    color: grey;
}


/* //player mediaquery// */

@media only screen and (max-width: 480px){
    
    
}


/* //sidebar rules// */

.sidebar{
    width: 200px;
    background-color: var(--black);
}

/* //sidebar mediaquery// */

@media only screen and (max-width: 480px) {
    .sidebar{
        width: 80px;
    }
}

/* //main interface rules// */

.interface-display{
    width: calc(100% - 200px);
    background-color: var(--intermediateblack);
}

.main-interface{
    height: calc(100vh - 90px);
    display: flex;
}

.interface-header{
    height: 75px;
    background-color: var(--shadedblack);
}

.interface-interaction{
    height: calc(100% - 75px);
}

/* //main interface mediaquery// */
@media only screen and (max-width: 480px) {

    .interface-display{
        width: calc(100% - 80px);
    }
    
}