/* //reset rules// */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul,
menu{
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

/* //general rules// */

img{
    height: 100%;
}

:root {
    --black: rgba(0,0,0,255);
    --lightblack: rgba(40,40,40,255);
    --intermediateblack: rgba(20,25,34,255);
    --shadedblack: rgba(8,11,18,255);
}

body{
    max-height: 100vh;
    color: white;
    font-family: sans-serif;
}

/* //utility rules// */

.debug{
    border: 3px dotted orange;
   }
   
.debug2{
       border: 3px dotted purple;
   }
   
.debug3{
       border: 3px dotted green;
   }

/* //player rules// */

.player{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lightblack);
    color: white;
    font-family: sans-serif;
    padding: 15px;
}

.player-interaction{
    height: 60px;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 30%;
}

.progresbar{
    flex-direction: column;
    width: 100%;
}

.player-button ul{
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.player-timebar{
    display: flex;
    align-items: center;
    gap: 25px;
    width: 60%;
}

.player-timebar p{
    font-weight: bold;
    font-size: small;
}

.player_song_action{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    gap: 30%;
}

.timebar{
    background-color: grey;
    border-radius: 5px;
    height: 6px;
    width: 100%;
}

.volumebar{
    background-color: grey;
    border-radius: 5px;
    height: 6px;
    width: 100px;
}

.volume_details{
    justify-content: flex-end;
}

.player-interaction-details{
    height: 100%; 
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.player-interaction-details p{
    text-align: left;
}

.player-interaction-details p:first-child{
    font-weight: bolder;
}

.player-interaction-details p:last-child{
    font-weight: lighter;
    font-size: smaller;
    color: grey;
}


/* //player mediaquery// */

@media only screen and (max-width: 575px){
 
}


/* //sidebar rules// */

.sidebar {
	display: flex;
	flex-direction: column;
    width: 200px;
    background-color: var(--black);
}

.sidebar__widget {
	padding: 0 10px;
}

.sidebar__widget > img{
    height: 50px;
}

.logo-wrapper{
    text-align: left;
    padding: 15px;
}

.sidebar__widget.app-install {
	margin-top: auto;
}

.main-menu{
    margin-top: 25px;
}

.logo-wrapper {
	padding-top: 22px;
	padding-bottom: 22px;
}

.logo-wrapper .logo {
	width: 133px;
}

.logo-wrapper .logo-sm {
	display: none;
	width: 28px;
}

.sidebar-h-padding {
	padding-left: 20px;
	padding-right: 12px;
}

@media (max-width: 575px) {
	.logo-wrapper {
		padding-top: 12px;
		padding-bottom: 12px;
	}

	.logo-wrapper .logo-sm {
		display: block;
		margin: 0 auto;
	}

	.logo-wrapper .logo {
		display: none;
	}

	.sidebar-h-padding {
		padding-left: 0px;
		padding-right: 0px;
	}
}

.main-menu__item {
	opacity: 0.7;
	position: relative;
}

.main-menu__item:hover,
.main-menu__item.active {
	opacity: 1;
}

.main-menu__item > a {
	display: flex;
	align-items: center;
	gap: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.menu-item__icon {
	width: 30px;
}

@media (max-width: 575px) {
	.menu-item__text {
		display: none;
	}

	.main-menu__item > a {
		justify-content: center;
	}
}

.main-menu__item::before {
	content: '';
	display: none;
	width: 4px;
	background-color: var(--green);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
}

.main-menu__item:hover::before,
.main-menu__item.active::before {
	display: block;
}

@media (max-width: 575px) {
	.main-menu__item::before {
		display: none !important;
	}
}

.widget__title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.new-playlist-btn {
	display: flex;
	align-items: center;
	gap: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
	opacity: 0.7;
}

.new-playlist-btn:hover {
	opacity: 1;
}

.plus-icon {
    background-color: gray;
    border: 3px solid grey;
    font-size: 30px;
}

/* //sidebar mediaquery// */

@media (max-width: 575px) {
	.sidebar {
		flex-basis: 50px;
	}

	.sidebar__widget.playlist {
		display: none;
	}


}@media only screen and (max-width: 575px) {
    .sidebar{
        width: 80px;
    }
}

/* //main interface rules// */

.interface-display{
    width: calc(100% - 200px);
    background-color: var(--intermediateblack);
}

.main-interface{
    height: calc(100vh - 90px);
    display: flex;
}

.interface-header{
    height: 75px;
    background-color: var(--shadedblack);
}

.interface-interaction{
    height: calc(100% - 75px);
}

/* //main interface mediaquery// */
@media only screen and (max-width: 575px) {

    .interface-display{
        width: calc(100% - 50px);
    }
    
}